@-moz-document url(about:blank), url(about:newtab), url(about:home) {
	body {
		background-color: #5d4432 !important;
	}
  }

@-moz-document url(about:newtab) {
  #newtab-search-text,
  button.icon.icon-settings {
		color: #5d4432 !important;
	}
  
  #newtab-search-text{
		background-color: #f7bf7a !important;
		color: #5d4432 !important;
	}
  #searchSubmit{ 
		fill: #5d4432 !important; 
	}
  
  .search-wrapper-input:focus {
		border: 0px !important;
		box-shadow: red !important,
	}
  }

/* invidio.us  */
@-moz-document domain("invidio.us")
{
  .pure-g
  {
    background: #5d4432;
    color: #f7bf7a;
  }

  b, optgroup, strong
  {
    color: #d27c02;
  }

  a
  {
    color: #d27c02 !important;
  }

  a:hover, a:active
  {
    color: white;
  }

  .pure-g [class*="pure-u"]
  {
    color: white;
  }

  .video-js .vjs-play-progress
  {
    background-color: #d27c02;
  }

  .video-js .vjs-slider:hover, .video-js button:hover
  {
    color: #d27c02;
  }

  .video-js .vjs-volume-level
  {
    background-color: #5d4432;
  }

  .vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover
  {
    background-color: #d27c02;
    color: white;
  }

  .navbar > .searchbar .pure-form input[type="search"]
  {
    background: black;
  }

  .video-js .vjs-slider:hover, .video-js button:hover
  {
    color: #d27c02;
  }

  .navbar > .searchbar .pure-form input[type="search"]
  {
    border-bottom: 1px solid #d27c02;
  }
}
