/*
 * Change font in menus, bars, etc.
 */

* {
  font-family: "CaskaydiaCove Nerd Font" !important;
}


/*
 * Only show close buttons on tabs when hovering with the mouse
 *
 */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/*
 * Remove "Send Page to Device", "Send Link to Device", 
 * "Send Tab to Device" from context menu.
 *
 * Contributor(s): PilzAdam
 */

#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator {
  display: none !important;
}

/*
 * Description: A dark right-click chrome-like context menu.
 *
 * Screenshot: https://imgur.com/neMpGJl
 *
 * Contributor(s): jy1263
 */

menupopup {
	-moz-appearance: none !important;
	padding: 8px 2px 8px 2px !important;
	background-color: #5d4432 !important;
	border: 1px #d27c02 solid !important;
	min-width: 280px !important;
}
menuseparator {
	-moz-appearance: none !important;
	border: none !important;
	padding: .5px 0px .5px 0px !important;
	margin: 4px 8px 4px 8px !important;
	background-color: #d27c02 !important;
}
menuitem, menu {
	-moz-appearance: none !important;
	color: #f7bf7a !important;
	padding: 5px 0px 5px 0px !important;
}
menuitem[disabled="true"], menuitem[disabled="true"] > .menu-text {
	color: grey !important;
}
menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"]	 {
	-moz-appearance: none !important;
	padding: 5px 0px 5px 0px !important;
	background-color: #9b9e17 !important;
}
menugroup {
	padding: 0px !important;
	background-color: transparent !important;
}
menuitem > .menu-text, menuitem > .menu-iconic-text {
	color: #f7bf7a !important;
}
menuitem[type="checkbox"] {
	padding-left: 8px !important;
	padding-top: 6.5px !important;
	padding-bottom: 6.5px !important;
}
menuitem[type="radio"] {
	padding-left: 8px !important;
	padding-top: 6.5px !important;
	padding-bottom: 6.5px !important;
}
menuitem[type="checkbox"] > .menu-iconic-text, menuitem[type="radio"] > .menu-iconic-text {
	padding-left: 5px !important;
}
menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
	padding: 7px 0px 0px 0px !important;
	border: solid white;
	border-width: 0 0 2px 2px;
	transform: rotate(-45deg) scale(.75);
	margin-bottom: 4px !important;
}
menuitem[checked="true"][type="radio"] > .menu-iconic-left {
	padding: 1px !important;
	border: solid white;
	height: 17px !important;
	border-radius: 100%;
	background: white;
	transform: scale(.5); 
}
menucaption {
	background-color: transparent !important;
	color: white !important;
}
#ContentSelectDropdown > menupopup {
	background-image: none !important;
}
#ContentSelectDropdown {
	padding: 0px !important;
}
menulist {
	-moz-appearance: none !important;
	padding: 4px 4px 4px 4px !important;
	border: 2px solid #ff5601 !important;
	background-color: transparent !important;
}
menulist:hover {
	padding: 4px 4px 4px 4px !important;
	border: 2px solid red !important;
	background-color: transparent !important;
}
menulist[open="true"]  {
	border: 2px solid #666666 !important;
	background-color: #5d4432 !important;
}
#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}
.menu-iconic-left {
	-moz-appearance: none !important;
	padding: 0px 5px 0px 9px !important;
}
tooltip {
	-moz-appearance: none !important;
	color: #f7bf7a !important;
	background-color: #2B2B2B !important;
	border: 1px solid #767676 !important;
	padding: 6.5px !important;
}

/* 
 * Change colour of URLs in URL bar
 */

.urlbarView-url {
  color: #9b9e17 !important;
}

/* 
 * Change colour of page titles in URL bar
 */

.urlbarView-title {
	color: #f7bf7a !important;
}

#urlbar-background {
    background: #5d4432 !important;
}

/* Hide URL bar border when inactive */
#urlbar:not([focused]) #urlbar-background, .urlbarView-body-inner {
  border-color: transparent !important;
  box-shadow: none !important;
}

/* Colour URL bar border when active */
#urlbar[focused="true"] #urlbar-background, .urlbarView-body-inner {
  border-color: #9b9e17 !important;
}

/* Remove tracking protection icon from left of URL bar */
#tracking-protection-icon-container {
	display: none !important;
}

/* 
Original layout by /u/Herkt https://www.reddit.com/r/FirefoxCSS/comments/7eazix/my_attempt_at_a_oneline_interface/ 
Use with compact density
*/
:root {
  --tabs-border: transparent !important;                             /* active tab left & right borders - not working in 58?*/
  --toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
  --chrome-nav-bar-controls-border-color: #9b9e17 !important;    /* border around url bar */
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
  margin-bottom: -6px !important;                /* not needed anymore? */
  margin-top: 6px !important;                   /*  */
  margin-left: 65vw !important;
  margin-right: -34px !important;
	background: #5d4432 !important;
}

#nav-bar {      
  margin-bottom: 1px !important;
  margin-top: -30px !important;
  margin-right: 35vw !important; 
  border-top: none !important;
  background: #5d4432 !important;
}

#nav-bar:not(focus-within) {
  height: 36px !important;
}   

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
}

/* Move hamburger menu to the left 
  ** Not using now as hiding hamburger instead... **
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 1 !important;
  margin-right: -1px !important;
}

#appMenu-popup {
  margin-right: -28px !important;
}

#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}
*/

/* Hide hamburger menu */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  display: none !important;
}


/* Move extensions/overflow menu to the left */
#nav-bar-overflow-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -0px !important;
	margin-left: 3px !important;
	transform: scale(0.9, 0.9) !important;
}

/* Back & Forward buttons */  
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
	-moz-box-ordinal-group: 0 !important;
  transform: scale(0.95, 0.9) !important;
  margin-left: -2px !important;
  margin-right: -2px !important; 
}

/* Overflow menu on right-hand side of forward/back buttons */
#nav-bar-overflow-button {
	margin-right: -55px !important;
	margin-left: 62px !important;
}

#back-button > .toolbarbutton-icon {
  margin-left: -34px !important;
	margin-right: 2px !important;
}

#forward-button > .toolbarbutton-icon {
  margin-right: 23px !important;
}

/* Tabs */
.tabbrowser-tab {
	margin-top: 2px !important;
	margin-bottom: -3px !important;
	height: 36px !important;
}

.tabbrowser-tab .tab-background {
	background: #5d4432 !important;
}

.tabbrowser-tab:not([focused="true"]) {
	background-color: #5d4432 !important;
}


/* Border between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  color: #9b9e17 !important; 
  opacity: 0.6 !important; 
}

/* selected tab highlighter line - adjust color & size */
.tab-line {
  background-color: #d27c02 !important;
  height: 4px !important;
	margin-top: -3px !important;
}

/* Width of active tab */
.tabbrowser-tab[selected]:not([pinned]) {
  min-width: 60px !important;
  max-width: 225px !important; /* Change this if you want to go over the default max-width of 225px. */
}


/* Hide various elements */
/* Menu  */
#appMenu-fxa-status,
#appMenu-fxa-status+toolbarseparator,
#appMenu-protection-report-button,
#appMenu-new-window-button,
#appMenu-private-window-button,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-library-button,
#appMenu-logins-button,
#appMenu-customize-button,
#appMenu-customize-button+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,
#appMenu-whatsnew-button,
#appMenu-help-button+toolbarseparator,
#appMenu-quit-button,
/* URL Bar */
#pageActionButton,
#pocket-button-box,
ar-button,
.autocomplete-history-dropmarker,
#identity-icon-labels {
    display: none !important;
}

/* No min width for tabs*/
.tabbrowser-tab {
    min-width: initial !important;
}

.tab-content {
    overflow: hidden !important;
}

/* Bottom URL bar preview formatting/colour */
#statuspanel-label,
statuspanel[type="overLink"] #statuspanel-label,
statuspanel[type="status"] #statuspanel-label[value^="Looking"],
statuspanel[type="status"] #statuspanel-label[value^="Connect"],
statuspanel[type="status"] #statuspanel-label[value^="Waiting"],
statuspanel[type="status"] #statuspanel-label[value^="Transfer"]{
  font-family: Ubuntu Mono Bold !important;
	font-size: 16px !important;
	background-color: #9b9e17 !important;
  color: #f7bf7a !important;
	border: none !important;
}
